.skill__container {
    width: 200px;
}

.skill-text {
    display: block;
    margin-bottom: 18px;
    font-size: 16px;
    color: var(--title-color-dark);
    font-weight: 300;
    text-transform: uppercase;
}

.chart-bar {
    border-radius: 2px;
    display: block;
    height: 1px;
    position: relative;
    width: 100%;
    background: #a4a4a4;
    margin-bottom: 45px;
}


.item-progress {
    border-radius: 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    /*width: 60%;*/
    background-color: #000000;
}

.percent {
    height: 32px;
    margin-top: -41px;
    position: absolute;
    /*left: calc(60% - 23px);*/
    width: 46px;
    z-index: 10;
    color: var(--title-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    top: 50%;
    text-align: center;
    border: 1px solid var(--title-color);
    /*right: calc(40% - 21px);*/
}

.arrow {
    border: 1px solid var(--title-color);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: translateY(33.5px) rotate(45deg) skew(3deg, 3deg) translateX(-27px);
    background-color: #FFF;
    bottom: 8px;
    position: absolute;
    z-index: 20;
}

@media screen and (max-width: 576px) {
    .skill__container {
        width: 100%;
    }

}


