.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .about__img-box {
        width: 355px;
        height: 100%;
        border-radius: 1.5rem;
        justify-self: center;
        align-self: start;
        filter: grayscale(85%);
        background: var(--about-img);
        background-position: bottom center;
        background-size: cover;
        @media screen and (max-width: 992px) {
            width: 340px;
            height: 400px;
            background-position: center center;
            background-size: cover;
        }
        @media screen and (max-width: 768px) {
            width: 300px;
            height: 400px;
        }
        @media screen and (max-width: 350px) {
            width: 250px;
            height: 320px;
        }
    }

    .about__data {
        @media screen and (max-width: 992px) {
            text-align: center;
        }
        @media screen and (max-width: 576px) {
            margin: 0 24px;
        }
        @media screen and (max-width: 350px) {
            margin: 0 6px;
        }

        .about__info {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
            margin-bottom: var(--mb-2);
            @media screen and (max-width: 992px) {
                column-gap: 2rem;
            }
            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr;
            }

            .about__box {
                text-align: start;
                padding-top: var(--mb-0-75);
                @media screen and (max-width: 992px) {
                    &:first-child {
                        text-align: end;
                    }
                }
                @media screen and (max-width: 576px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    background-color: var(--container-color);
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    &:last-child {
                        display: block;
                        text-align: center;
                    }
                    &:first-child {
                        text-align: center;
                    }
                }
                @media screen and (max-width: 350px) {
                    grid-template-columns: repeat(1, 1fr);
                    width: initial;
                    margin: 0 10px;
                }

                .about__odd {
                    @media screen and (max-width: 576px) {
                        margin-right: 0.5rem;
                        text-align: end;
                    }
                    @media screen and (max-width: 350px) {
                        margin-right: 0;
                        text-align: center;
                    }
                }

                .about__even {
                    @media screen and (max-width: 576px) {
                        margin-left: 0.5rem;
                        text-align: start;
                    }
                    @media screen and (max-width: 350px) {
                        margin-left: 0;
                        text-align: center;
                    }
                }

                .about__box-text {
                    font-size: var(--h3-font-size);
                    font-weight: var(--font-medium);
                    line-height: var(--h3-font-size);
                    color: var(--title-color);
                    white-space: nowrap;
                    position: relative;
                    @media screen and (max-width: 992px) {
                        top: 0rem;
                    }
                }

                .about__box-text::after {
                    content: "";
                    background-color: var(--text-color);
                    position: absolute;
                    top: 1.8rem;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    @media screen and (max-width: 992px) {
                        top: 1.5rem;
                    }
                }

                .about__box-li {
                    font-size: var(--small-font-size);
                    margin-bottom: var(--mb-0-75);
                }

            }

        }

        .about__description {
            padding: 0;
            margin-bottom: var(--mb-2-5);
            @media screen and (max-width: 992px) {
                padding: 0 5rem;
                margin-bottom: 2rem;
            }
            @media screen and (max-width: 576px) {
                padding: 0 0.5rem;
            }
        }
    }

}
